@import "tailwindcss";
@plugin "daisyui" {
   themes: all;
 }

 @plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #101828;
  --color-secondary: #1D232A ;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: var(--color-accent);
  --color-secondary: #fff;
}

.makeflex {
    @apply flex justify-between items-center;
}

.active {
    @apply text-pink-600;
}